body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #c0c0c0;
  stroke-width: 2px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.q0-11{fill:rgb(217, 217, 217)}
.q1-11{fill:rgb(150, 150, 150)}
.q2-11{fill:rgb(100, 100, 100)}
.q3-11{fill:rgb(50, 50, 50)}
.q4-11{fill:rgb(0, 0, 0)}

.USA.day{fill:rgb(255, 217, 217)}
.USA.q1-11{fill:rgb(250, 0, 0)}
.USA.q2-11{fill:rgb(150, 0, 0)}
.USA.q3-11{fill:rgb(100, 0, 0)}
.USA.q4-11{fill:rgb(50, 0, 0)}

.LosAngeles.day{fill:rgb(250, 250, 212)}
.LosAngeles.q1-11{fill:rgb(250, 250, 0)}
.LosAngeles.q2-11{fill:rgb(150, 150, 0)}
.LosAngeles.q3-11{fill:rgb(100, 100, 0)}
.LosAngeles.q4-11{fill:rgb(50, 50, 0)}

.SanJose.day{fill:rgb(208, 231, 245)}
.SanJose.q1-11{fill:rgb(0, 155, 245)}
.SanJose.q2-11{fill:rgb(0, 90, 143)}
.SanJose.q3-11{fill:rgb(0, 58, 92)}
.SanJose.q4-11{fill:rgb(0, 26, 41)}

.Everton.day{fill:rgb(175, 175, 250)}
.Everton.q1-11{fill:rgb(0, 0, 250)}
.Everton.q2-11{fill:rgb(0, 0, 150)}
.Everton.q3-11{fill:rgb(0, 0, 100)}
.Everton.q4-11{fill:rgb(0, 0, 50)}

.MLSAll-Star.day{fill:rgb(178, 255, 184)}
.MLSAll-Star.q1-11{fill:rgb(0, 255, 17)}
.MLSAll-Star.q2-11{fill:rgb(0, 204, 14)}
.MLSAll-Star.q3-11{fill:rgb(0, 153, 10)}
.MLSAll-Star.q4-11{fill:rgb(0, 102, 7)}

.LeverkusenII.day { fill: rgb(217, 217, 217);}
.Leverkusen.day { fill: rgb(217, 217, 217);}

.Bayern.day { fill: rgb(255, 239, 217); }

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font-size: 9px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

